* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.base-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/login-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}

.login-top img {
    width: 150px;
}