{% extends 'web/base.html' %}
{% load static %}

{% block title %} 
- Our Catalogue 
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/web/css/catalogue.css' %}">
{% endblock %}


{% block mainContent %}
        <h1>Catalogo</h1>

        {% for pelicula in peliculas %}
            <div>
            <h4><a href="{% url 'ver_pelicula' pelicula.id %}">{{pelicula.titulo}}</a></h4>
            <p><span>

                    {%for i in pelicula.genero %}
                    {{i|capfirst}} - 
                    {%endfor%} 

                </span>
                <span>
                    {{pelicula.duracion}}
                </span></p>

            <p>{{pelicula.precio}}</p>
            </div>
        {% endfor %}

{% endblock %}