{% extends 'web/base.html' %}
{% load static %}

{% block title %}
- Create Entry
{% endblock %}

{% block extra_css %}
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel="stylesheet" href="{% static '/web/css/catalogue.css' %}">
{% endblock %}


{% block mainContent %}
<section>
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table id='form-editar'>
                {{ form.as_table }}
            </table>
            <div class='contenedor-botones-form'>
                <input type="submit" value="Confirmar Cambios" class="boton-confirmar" class="btn">
                <input type="submit" value="Cancelar" class="boton-cancelar" class="btn">
            </div>    
        </form>
    </div>
</section>
{% endblock %}