<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprando</title>
</head>
<body>
    <form method="post" action="{% url 'compra_exitosa' %}">
        <h1>Concluye tu compra</h1>
        <p><strong>Titulo:</strong> {{pelicula.titulo}}</p>
        <p><strong>Precio:</strong> {{pelicula.precio}} </p>
        {% csrf_token %}
        {{ form_pago }}
        <br>
        <h3><a href="{% url 'compra_exitosa' %}">Hacer compra</a></h3>
        <h3><a href="{% url 'bienvenido' %}">Volver</a></h3>

    </form>
</body>
</html>