{% extends "web/base.html" %}
{% load static %}

{% block title %}
Comprando
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/web/css/validacion_compra.css' %}">
{% endblock %}

{% block mainContent %}
<section>
    <p><strong>Titulo:</strong> {{pelicula}}</p>
    <p><strong>Precio:</strong> {{precio}}</p>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ formulario.as_table }}
            </table>
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class={{ message.tags }} {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br>
            <input type="submit" id='boton-comprar' class='btn' value="Finalizar compra">
            <h3><a id='boton-comprar' class='btn' href="{% url 'catalogo' %}">Volver</a></h3>
        </form>
    </div>
</section>
{% endblock %}

