{% extends "web/base.html" %}
{% load static %}

{% block title %}
- Data Sheet
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/web/css/ver_pelicula.css' %}">
{% endblock %}

{% block mainContent %}
<div id='main-ver-pelicula'>
    <h1>Ficha de {{pelicula.titulo}}</h1>
    <div id='ficha-pelicula'>
        <div id='data-pelicula'>
            <p><strong>Director:</strong> {{pelicula.director}} </p>
            <p><strong>Año:</strong> {{pelicula.anio}} </p>
            <p><strong>Titulo:</strong> {{pelicula.titulo}}</p>
            <p><strong>Duración:</strong> {{pelicula.duracion}} min</p>
            <p><strong>Género:</strong> {{ pelicula.genero}} </p>
            <p><strong>Sinopsis:</strong> {{pelicula.sinopsis}} </p>
            <p><strong>Precio:</strong> ${{pelicula.precio}} </p>
        </div>
        <img src={{pelicula.imagen.url}} class='poster-pelicula' alt="poster de la {{pelicula.titulo}}">
    </div>
    <div class="d-flex justify-content-between">
        <div id='botones-container'>
            <h4><a href="{% url 'validacion_compra' pelicula.id_pelicula %}" id='boton-comprar' class='btn'>Comprar</a>
            </h4>
            <h4><a href="{% url 'catalogo' %}" id='boton-cancelar' class='btn'>Cancelar</a></h4>
        </div>
        <div id='botones-container'>
            {% if perms.web.change_pelicula %}<h4><a href="{% url 'update_movie' pelicula.id_pelicula %}" class='btn btn-warning'>Editar</a></h4>{% endif %}
            {% if perms.web.delete_pelicula %}<h4><a href="{% url 'delete_movie' pelicula.id_pelicula %}"  class='btn btn-danger'>Eliminar</a></h4>{% endif %}
        </div>
    </div>
</div>
{% endblock %}